<!DOCTYPE html>
<html>
<head>
	<title>Angular PASKAL</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>
		var app = angular.module('myApp', []);
		app.controller('customersCtrl', function($scope ) {
			$scope.run = function(){
				$scope.togh=[];
				var togh=[];
				var element=[];
				for(i=0;i<$scope.hamar;i++){
					element=[];
					for (j=0;j<=i;j++){
						element.push(zugordutyun(i,j));
					}
					togh.push(element);
					}	
				$scope.togh = togh;
			}
			function faktorial(x){
				if (x==0 || x==1){
					return 1;
				}
				else {
					return x*faktorial(x-1);
				};
			};
			function zugordutyun (x,y){
				return faktorial(x)/(faktorial(x-y)*faktorial(y));
			};
		});
	</script>
</head>
<body >
	<div ng-app="myApp" ng-controller="customersCtrl">
		<input type="text" ng-model="hamar"  /> 
				
			{{run()}}
		
		<div ng-repeat="x in togh">
			{{x}}	
		</div>
	</div>

</body>
</html>