body {

	background-image: url("bar.png"),url(bg.png) ;
	background-repeat: repeat-x, repeat;
}

div {
	margin:2px;
	float:left; 
}

#ficon {
	width:28px;
	float: left;
	cursor: pointer;
}


#inputtext {
	background-image: url(search.png);
	background-repeat:no-repeat;
	background-position: right;
	background-color: rgba(255,255,255,.91);
	height: 18px;
	width: 450px;
	border-radius: 2.7px;
}

#inputtext:focus {
	background-image: url(searchhover.png);
	background-repeat:no-repeat;
	background-color: rgba(255,255,255,1);
}

.user {
	float:left;
	margin-left: 60px;
	height: 28px; 
	width: 75px;
}

.user:hover {
	border:5px solid transparent inset;
    border-radius: 5px ;	
    box-shadow: 0 0 0 50px rgba(0,0,0,0.2) inset, 0 0 50px rgba(0,0,0,0.2) inset;
}

.SS {
	height: 28px; 
	width: 6px;
}

.home {	
	height: 28px; 
	width: 75px;
}

.home:hover {
	border:5px solid transparent inset;
border-radius: 5px 5px 5px 5px;	
box-shadow: 0 0 0 50px rgba(0,0,0,0.2) inset, 0 0 50px rgba(0,0,0,0.2) inset;
}

.SS2 {
	height: 28px; 
	width: 6px;
}

.findfriend {
	height: 28px; 
	width: 90px;
}

.findfriend:hover {
	border:5px solid transparent inset;
    border-radius: 5px 5px 5px 5px;	
    box-shadow: 0 0 0 50px rgba(0,0,0,0.2) inset, 0 0 50px rgba(0,0,0,0.2) inset;
}

.req {	
	height: 28px; 
	width: 28px;
}

.mess {
	height: 28px; 
	width: 28px;
}

.note {
	height: 28px; 
	width: 28px;
}

.SS3 {
	height: 28px; 
	width: 6px;
}

.xz {	
	height: 28px; 
	width: 55px;
}

.splash {
	margin-left: 30%;
	display: inline-block;
	width: 100%;
	height:100%;
	background-image: url(bg.png);
}
