<!DOCTYPE html>
<html lang="en"  >
<head>
    <meta charset="UTF-8">
    <title>Stepanavan Library</title>
    <link rel="stylesheet" href="style.css">
   	<script src="script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" ></script>
	<script src="search.js" defer></script>
</head>
	
<body ng-app="app" ng-controller="Ctrl">
	
	
	
	<header id="x">
      <center><canvas id="textSlider" height="20px" width="1000px"> Your Canvas Dont Work </canvas></center>
	</header>
	
	
	
<div id="site" >

			<header id="headertop">
			<div id="header">
			<div id="profile" >
				<img id='userimg' src="" alt="">
				<span id='username'>Name</span>
				<input onclick="logout()" id="logoutbtn" type="button" value="Log out">
				
			</div>
			<div id="auth">
			<span id="login" onclick="openLoginMenu()" >Sign in</span>
				
			<span onclick="openRegisterMenu()" id="password">Sign up</span>
			<div id="loginframe" >
				
			<form id="lform" action=""><br>
							<span id="h">SOME TEXT</span><br>
							<span>Login </span>
							
							<input  id='logininput' class="logform"  type="text">
							
							<br><span><br>Password </span><br>
							
							<input id='passwordinput' class="logform"  type="password">
							
						
							<input onclick="login()" id="loginbtn" class="logform"  type="button" value="Sign in">
			</form>
					
				
			</div>
			<div class="hideform" id="regframe"><iframe id='form' src="registration.html" frameborder="0"></iframe></div>
			</div>
			</div>
  		</header>
   
     
     
      <!--MENU -->
      
     <div id="menu"  >
			
				<img onclick="openLeftMenu()" id='openmenu' src="image/icons/arrow.png" alt="">
			
	   
	   
	  <span class="links"><a href="index.html">Home</a></span>
	  <span class="links"><a href="search.html">Search</a></span>


	   </div>
	 
	 
	 <!--Search-->
	 
	   <div class="searchbar"  id="categories" >
			<img onclick="openRightMenu()" id='opencategories' src="image/icons/arrow.png" alt="">
			
			
			<span class="searchbar">
		

				<input id="searchinput" type="text"   />
		

		

			<div id="categoriesRight">  <!--searchFor:searchString"-->

					
					
			</div>
			
		  </span>


	   </div>
	   
	 


	   
</div>   
   
    <!-- //---------------      Main PAGE    --------------//-->
   
	   <div  id="main"  >


			<div class="searchbar" >
	<center><h3>   </h3></center>
			<input id="search" type="text" ng-model="searchString" placeholder="Enter your book name or SCROLL DOWN" />
			
		
			</div>

			<div   class="box" scroll-position>

				<div  id="searchres" class="search" ng-repeat="book in books | searchFor : searchString | limitTo:display_limit "  >  <!--searchFor:searchString"--> 
					<img ng-src="{{book.image}}" alt=""><br>
					<a  href="{{book.url}}">{{book.title}}</a>
					<span>{{book.author}}</span><span>{{book.id}}</span>
				

				</div>
			</div>


		
	   </div> 

</body>

</html>