/*table, th, td {
    border: 1px solid black;
}
/*#diviguyn{
background: rgb(0, 137, 0)

}*/

#tox{

	background: rgb(152, 122, 0);
	width: 100%;
	height: 80px;
}
#a1{
	float: left;
	margin:10px;padding: 10px
}
.dropbtn {
    background-color: rgb(152, 122, 0);;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(152, 122, 0);
}

.dropdown {
    float: left;
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(152, 122, 0);
    min-width: 160px;
    overflow: auto;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: rgb(152, 122, 0);}

.show {display:block;}


