body {
	
    background-image: url("Untitled-12.png");
    background-repeat: no-repeat;
    background-color: #333333;
    background-position: right bottom ;
    margin-right: 200px;
    background-attachment: fixed;
}

.fig {
    text-align: center; 
   }

a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;

}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;

}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;

}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
table {
    width:100%;
    text-align: left;
    
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    
    
}
th, td {
    padding: 5px;
    text-align: center;
    width: 10px;
    height: 10px;


}
table#t01 tr:nth-child(even) {
    background-color: transparent;
    text-align: center;

}
table#t01 tr:nth-child(odd) {
   background-color:transparent;
   text-align: center;
   
}
table#t01 th {
    background-color: #aaa;
    color: #3f1a28;
    text-align: center;


}
ul {
    list-style-type: none;
    margin: 1;
    padding: 1;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    box-shadow: 0px 0px 0px 0px transparent;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: transparent;}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: transparent;
}

li a:hover {
    
    background-color: #111111;
    
}



div.background {
  background: url("header image.jpg") ;
  border: 2px solid black;
}

div.transbox {
  
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); 
  font-size: 300%
}

div.transbox p {
  margin: 5%;
  
  font-weight: bold;
  color: #000000;
}
p {
    color: black;
    text-shadow: 5px 5px 5px #000000;
}
ul {
    color: black;
    text-shadow: 5px 5px 5px #000000;
}
div {
    color: black;
    text-shadow: 5px 5px 5px #000000;
        -webkit-animation-name: example; 
    -webkit-animation-duration: 5s; 
    animation-name: example;
    animation-duration: 5s;
    

}
@-webkit-keyframes example {
    from {background-color: black;}
    to {background-color: white;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: black;}
    to {background-color: white;}
}



}
head {
    color: black;
    text-shadow: 5px 5px 5px #000000;
}
h1 {
    color: black;
    text-shadow: 1px 10px 10px #000000;
}
h2 {
    color: black;
    text-shadow: 1px 10px 10px #000000;
}
